* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

input,
button {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(226, 226, 226);
}

.App {
  height: 350px;
  width: 650px;
  background-color: rgb(146, 184, 184);
  border-radius: 7px;
  position: relative;
  bottom: 90px;
  box-shadow: 2px 2px 2px 2px rgb(173, 149, 144);
}

h1,
label {
  color: rgb(1, 55, 56);
}

.App h1 {
  font-size: 2em;
}

.container,
.App,
.App form h2,
.App form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.App form h2,
.in {
  color: rgb(1, 55, 56);
  height: 40px;
  border-radius: 7px;
  border: 2px solid rgb(69, 116, 131);
  width: 360px;
  font-weight: 900;
  background-color: rgb(185, 210, 208);
  font-size: 1.45em;
}

label {
  font-weight: 600;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}



.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

button {
  border: 2px solid rgb(129, 76, 76);
  background: whitesmoke;
}

button:nth-last-child(2),
button:nth-last-child(1) {
  background: rgb(240, 74, 74);
  color: white;
}
